@import "./mixin.scss";

.Cucina {
    .mainContainer {
        @include width-margin(90%);
        .title {
            @include flex-direction(row, center);
            @include RobotoUpper(bold);
            padding: 10px 0;
            border-bottom: 1px solid darkgrey;
            img {
                width: 20px;
            }
        }

        .menuDynamicList  {
            li {
                &.closed {
                    max-height: 40px;
                    overflow: hidden;
                    transition: max-height .5s linear;
                    border-bottom: 1px solid darkgray;

                    
                    
                }
                &.open {
                    max-height: 500px;
                    overflow: hidden;
                    transition: max-height .5s linear;

                }
            }
        }
    
        .list {
            .category {
                display: block;
                text-align: center;
                padding: 40px 0 15px;
               
                font-size: 17px;
            }
            .category, .name {
                @include RobotoUpper(bold);
            }
            li {
                border-bottom: 1px solid darkgrey;     
              
                >div {
                    @include flex-direction(row, null);     
                    padding: 10px 0;           
                }
                .ingredienti {
                    display: block;
                    padding-bottom: 10px;
                }

            }
        }
    }
}
