@import "./mixin.scss";

.Cucina {
    .mainContainer {
        @include width-margin(90%);
        .title {
            @include flex-direction(row, center);
            @include RobotoUpper(bold);
            padding-bottom: 10px;
            border-bottom: 1px solid darkgrey;
            >span {
                font-size: 18px;
            }
        }
        .buttonList {
            position: relative;
            button {
                @include flex-direction(row, center);
                img {
                    width: 10px;
                }
            }
            ul {
                position: absolute;
                background-color: #813809;
                color: white;
                width: 240px;
                right: 0;
                li {
                    padding: 15px 10px;
                    border-bottom: 1px solid white;
                }
            }
        }
        .list {
            .category {
                display: block;
                text-align: center;
                padding: 40px 0 15px;
               
                font-size: 17px;
            }
            .category, .name {
                @include RobotoUpper(bold);
            }
            li {
                border-bottom: 1px solid darkgrey;     
              
                >div {
                    @include flex-direction(row, null);     
                    padding: 10px 0;           
                }
                .ingredienti {
                    display: block;
                    padding-bottom: 10px;
                }

            }
        }
    }
}
