 .desktopView .Home {
     .imgContainer.content {
         img {
             border: 0;
             margin: 0;
             float: left;
         }

         .logo {
             position: absolute;
             left: 50%;
             top: 30%;
             transform: translate(-50%, 0);
             width: 30%;
         }
     }

     #content {
         width: 95%;
         margin: 0 auto;
     }

     .aboutUs {
         background-color: #EBEAE8;

         p {
             color: black;
         }
     }

     .gallery {
         display: flex;
         justify-content: space-between;

         img.photo {
             float: left;
             width: 33%;
             box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);

         }
     }

     .beerSelection {
         text-align: center;

         div {
             display: flex;
             justify-content: space-around;
             align-items: center;
             margin: 40px 0;
         }

         img.beer {
             width: 10%;
         }
     }

 }