.Home {
    .desktopView & {
        .content {
            display: inline-block;
            float: left;
            position: relative;
            .heroBanner {
                position: relative;
                width: 100%;
            }
            img {
                border: 0;
                margin: 0;
                float: left;
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #5a57577a;
            }
            p {
                padding: 25px;
                color: white;
                background-color: #000000bd;
                text-align: center;
            }
            ul.secondaryMenu {
                display: flex;
                flex-direction: row;
                justify-content: space-around; 
                li {
                    width: 25%;
                }
            }
        }
    }
}